.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
}

.popup-container {
  background-color: var(--white);
  padding: 1.5rem;
  position: relative;
}

.popup-container h2 {
  font-size: 2rem;
  line-height: 2.75rem;
  font-style: normal;
  color: #172b4d;
}

.tech-stack {
  display: flex;
  margin-bottom: 1.325rem;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-stack > li {
  list-style: none;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid #979493;
  color: var(--lightdark);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.popup-img-p {
  display: flex;
}

.popup-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-btn-wrapper > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.popup-btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: var(--white);
  margin-top: 0.625rem;
}

.popup-btn > a {
  text-decoration: none;
  color: var(--white);
}

.popup-btn > a:hover {
  color: var(--orange);
}

.popup-btn > a > img:hover {
  filter: invert(42%) sepia(65%) saturate(2553%) hue-rotate(2deg)
    brightness(106%) contrast(102%);
}

/* Email Validation */

.email-check-message {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.valid-email {
  color: rgb(7, 175, 47);
}

.invalid-email {
  color: var(--orange);
}

/* Mobile view pop-up */
@media screen and (max-width: 768px) {
  .popup-container {
    width: 80%;
    margin: 15% auto;
    height: min-content;
  }

  .popup-container h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-bottom: 35px;
  }

  .popup-img-p {
    flex-direction: column;
  }

  .email-check-message {
    top: 68%;
    padding-left: 12px;
  }
}

/* Desktop view pop-up */
@media screen and (min-width: 48rem) {
  .popup-container {
    width: 85%;
    margin: 5% auto;
    height: min-content;
  }

  .popup-container > h2 {
    font-family: "Crete Round", serif;
    font-weight: 400;
  }

  .popup-img-p > img {
    flex: 2 1 auto;
  }

  .popup-btn-wrapper {
    margin-left: 1.5625rem;
  }

  .popup-btn-wrapper > p {
    min-height: 21rem;
  }

  .popup-btn {
    margin: 1rem 0.625rem 0 0;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: var(--white);
  }

  .email-check-message {
    top: 69%;
    padding-left: 12px;
  }
}

@media screen and (max-width: 1180px) {
  .popup-img-p {
    flex-direction: column;
    align-content: center;
  }

  .popup-btn-wrapper {
    margin-left: 0 !important;
  }

  .popup-btn-wrapper > p {
    min-height: 0 !important;
    max-width: 690px;
  }

  .popup-img-p > img {
    margin-bottom: 1rem;
  }
}
